body {
	font-family: arial;
	box-sizing: border-box;
}

.navbar {
    border-radius: 0;
}
.nav-tabs {
	border: none;
}
.nav-tabs li a{
	padding-bottom: 14px;
	margin-top: 4px;
}

.form-inline {
	margin-bottom: 10px;
}

.tableContainer {/*div outTable*/
	overflow:auto; 
	margin-left:180px;
	margin-bottom:0px;
	
}

.table {
	margin: 0px;
}
.headcol {
	width: 180px;
	min-width: 180px;
	position:absolute;
	left:15px;	
}

td {
	min-width: 80px;
}
.tableBorder {
	border-top: 2px solid #ddd;
}
#gCrea td{
	border-bottom: 2px solid #ddd;
}
 /* The side navigation menu */
.sidenav {
    height: 100%;  /*100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    /*position: fixed;  Stay in place */
	position: absolute;
    z-index: 1;  /*Stay on top */
    top: 0;
    right: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#guidedRpt, #factualRpt {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
} 